@import url("./resp.css");
@import url("./cadastro.css");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f0f2f5;
    position: relative;
}

.container{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 15vw;
    gap: 0 5vw;
}

.informacao{
    padding-right: 2vw;
    padding-bottom: 10vh;
}

.logo{
    width: 250px;
    margin: 0 0 3vh 0;
}

.informacao p:nth-child(2){
    font-size: 1.5rem;
}

.logar{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 5px 5px 25px #0505051a;
    margin: 0 10px;
    padding: 10px 15px;
    border-radius: 5px;
    gap: 15px;
}

.logar form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.login, .senha {
    padding: 15px 15px;
    width: 22rem;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.150);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
    font-weight: lighter;
}


.logar input[type="submit"]{
    width: 22rem;
    padding: 12.5px;
    cursor: pointer;
    color: white;
    background-color: #1877f2;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: larger;
}

form a{
    padding: 0.5vw 1vw;
    color: #1877f2;
    text-decoration: none;
}

hr{
    width: 100%;
    opacity: 15%;
    margin: 15px 0;
}

.criar_conta{
    width: 12rem;
    padding: 12.5px;
    cursor: pointer;
    color: white;
    background-color: #42b72a;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: medium;
    margin-bottom: 15px;
}

footer{
    box-shadow: 5px 5px 25px #05050531;
}

footer p{
    text-align: justify;
    padding: 25px;
    background-color: azure;
    font-style: italic;
    opacity: 45%;
}








